.voy-stalist-edit {
    float: right;
}

.voy-stalist-dialog {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100vh;
}

.voy-stalist-stalist-button-right {
    float: right;
}

.voy-stalist-dialog-menu {
    margin: 0 auto;
}