.voy-vCard-dialog:not([data-mode="edit"])
 .oo-ui-outlineSelectWidget
 > .oo-ui-outlineOptionWidget:last-child {
    display: none;
}

.voy-vCard-dialog:not([data-mode="edit"])
.oo-ui-inputWidget-input {
    border: none;
    background-color: transparent !important;
}

.voy-vCard-dialog:not([data-mode="edit"])
.voy-vCard-dialog-field:has(input[value=""]) {
    display: none;
}

.voy-vCard-dialog-image {
    width: 100%;
}

.voy-vCard-dialog-image-element {
    max-width: 90%;
    max-height: 70vh;
}

.listing-dialog-button {
    position: relative;
    padding-left: 15px;
}

.listing-dialog-button button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Faenza-edit-find-symbolic.svg);
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: 12px;
}