.mw-special-ContributionsSpecialPage {
    .oo-ui-fieldsetLayout-group:not(:first-child) {
        max-width: unset;
    }

    .almight-cp-tabbox {
        & > .oo-ui-menuLayout-content {
            border: #eaecf0 1px solid;
            border-top: none;
        }
        .almight-cp-revdel-wrapper {
            .oo-ui-radioOptionWidget {
                display: inline-block;
                margin-right: 12px;
            }
        }
    }
}